@import "../../global.scss";

.music {
    background-color: $mainLightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        font-size: 50px;
    }

    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            font-size: 17px;
            margin-right: 50px;
            padding: 4px;
            border-radius: 7px;
            cursor: pointer;

            &.active {
                background-color: $mainDarkColor;
                color: $mainOrange;
            }
        }
    }
    .container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .album {
            height: 220px;
            width: 220px;
            border-radius: 5px;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            p {
                top: 20px;
                position: absolute;
            }

            .playBtnContainer {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }

            .playBtn {
                text-decoration: none;
                color: $mainOrange;
                font-size: 20px;
                padding: 8px 4px;
                margin: 10px;
                border-radius: 7px;
                background-color: $mainDarkColor;

                .logoSmall {
                    width: 20px;
                    border-radius: 2px;
                }

                span {
                    font-size: 15px;
                }

                .fa-spotify {
                    color: #1bd760;
                }

                .fa-music {
                    color: #fa4359;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        
        // .iframeContainer {
        //     padding: 10px;
        //     .iframes {
        //         border-radius: 10px;
        //     }
        // }
    }
}