@import "../../global.scss";

.topnav {
    background-color: $mainDarkColor;
    color: $mainOrange;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all .5s ease;

    .wrapper {
        padding: 5px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .left {
            display: flex;
            align-items: center;

            .mainLogo {
                font-size: 45px;
                margin-right: 35px;
                padding-right: 2px;
                transition: all .5s ease;

                .logoImg {
                    width: 110px;
                }

                .logoImgInner {
                    width: 110px;
                    margin-left: -110px;
                    filter: invert(49%) sepia(95%) saturate(1190%) hue-rotate(10deg) brightness(105%) contrast(101%);
                    opacity: 0;
                    transition: all .5s ease;
    
                    &:hover {
                        opacity: 1;
                    }
                }

                &:hover {
                    transform: scale(1.02);
                }
            }


            .menuItem {
                display: flex;
                align-items: center;
                margin-left: 25px;

                .menuIcon {
                    font-size: 20px;
                    margin-right: 6px;
                }

                span {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }

        .right {

            .hamburger {
                width: 35px;
                height: 27px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2px;
                cursor: pointer;

                span {
                    width: 100%;
                    height: 4px;
                    background-color: $mainOrange;
                    transform-origin: left;
                    transition: all .5s ease;
                }

            }
        }
    }

    &.active {
        background-color: $mainOrange;
        color: $mainDarkColor;

        .hamburger {
            span {

                &:first-child {
                    background-color: $mainDarkColor;
                    transform: rotate(45deg) translate(-1px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    background-color: $mainDarkColor;
                    transform: rotate(-45deg) translate(-1px);
                }
            }
        }
    }
}