@import "../../global.scss";

.topnav {
    background-color: $mainDarkColor;
    color: $mainLightColor;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 2;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            .main-logo {
                font-size: 45px;
                font-weight: bold;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}