@import "../../global.scss";

.videos {
    background: linear-gradient(45deg, $mainOrange 25%, #00000080 25%, #00000080 75%, $mainDarkColor 75%),
    url('../../../public/assets/faela_live_bw.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 20px auto;
    }

    .videoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        iframe {
            width: 480px;
            height: 270px;
            padding: 20px;

            @include mobile {
                width: 240px;
                height: 135px;
                align-items: center;
            }
        }
    }
}