
@import "../../global.scss";

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 20px auto;
    }

    .videoContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include mobile {
            justify-content: initial;
        }
        
        .videoWrapper {
            flex: 1 0 35%;
            display: flex;
            align-items: center;
            padding: 1%;
            flex-direction: column;

            @include mobile {         
                flex: initial;       
                flex-direction: row;
            }
            
            .textWrapper {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                text-shadow: black 0 0 7px;
                flex-direction: column;
                width: 100%;
                @include mobile {
                    width: 50%;
                }

                iframe {
                    aspect-ratio: 16 / 9;
                    border-radius: 8px;
                    box-shadow: black 0 0 10px;
                    
                    @include mobile {
                        width: 80%;
                        margin: 0 5px 0 10px;
                    }
                }
                p {
                    color: $mainLightColor;
                    @include mobile {
                        margin: 0 5px 0 10px;
                    }
                }
            }

            
        }
        
        h3 {
            margin-bottom: 1%;
            z-index: 1;
            @include mobile {
                margin-left: 10px;
            }
        }
    }
}