@import "../../global.scss";

.about {
    
    h1 {
        text-align: center;
        margin: 20px auto;
    }
    
    .mainContainer {
        overflow: hidden;
        display: flex;
        justify-content: flex-end;

        .textContainer {
            flex: .5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $mainLightColor;
            text-shadow: #000 0 0 5px;
            letter-spacing: .6px;
            text-align: justify;

            @include mobile {
                flex: 1;
            }

            .aboutText {
                margin: 20px 20px 20px 0;

                @include mobile {
                    margin: 0 auto;
                    padding: 10px;
                }

                .leftCol, .rightCol {
                    display: inline-block;
                    text-align: left;
                    // max-width: 50%;
                }

                .singleLine {
                    display: block;
                    margin: 5px auto;

                    @include mobile {
                        // white-space: initial;
                    }
                }
            }

            h3 {
                margin: 0 0 20px 0;
                color: $mainOrange;
            }
        }
    }
}