@import "../../global.scss";

.about {
    background: linear-gradient(45deg, $mainDarkColor 25%, #00000080 25%, #00000080 75%, $mainOrange 75%),
    url('../../../public/assets/faela_live_bw.jpg');
    background-attachment: fixed;
    background-size: cover;
    
    h1 {
        text-align: center;
        margin: 20px auto;
    }
    
    .mainContainer {
        overflow: hidden;
        display: flex;
        justify-content: end;

        .textContainer {
            flex: .5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $mainLightColor;
            text-shadow: #000 0 0 5px;
            letter-spacing: .6px;
            text-align: justify;

            .aboutText {
                margin: 20px 20px 20px 0;

                .singleLine {
                    display: block;
                }
            }

            h3 {
                margin: 0 0 20px 0;
                color: $mainOrange;
            }
        }
    }
}