@import "../../global.scss";

.home {
    background:
        $mainLightColor
        no-repeat bottom center / cover
    ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../public/assets/faela_live_1.jpg');
    display: flex;
    background-attachment: fixed;

    .left {
        flex: .5;
        overflow: hidden;
        display: flex;
        align-items: flex-end;

        .imgContainer {
            // background-color: #f0970080;
            // backdrop-filter: blur(3px);
            width: 600px;
            height: 600px;
            // border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;

            img {
                height: 60%;
                box-shadow: #000 0px 0px 20px 5px;
            }
        }
    }

    .right {
        flex: .5;

        .homeRightContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-transform: uppercase;
            text-align: center;
            color: $mainOrange;
            font-family: 'Secular One', sans-serif;
            text-shadow: black 0 0 12px;

            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 50px;
                margin: 20px auto;
            }
            h3 {
                margin-top: 40%;
                margin-bottom: 20%;
                font-size: 50px;
            }
            
            h4 {
                font-size: 30px;
            }

            .btnMain {
                padding: 10px;
                // background-color: #2c0926d0;
                // border: 2px solid transparent;
                font-size: 25px;
                border-radius: 20px;
                width: fit-content;
                margin: 0 auto;
                text-decoration: none;
                color: $mainLightColor;
                transition: all .5s ease;
                text-shadow: #000 0 0 8px;
                
                p {
                    padding: 5px;
                }
                
                i {
                    transition: all .5s ease;
                    font-size: 40px;
                    color: $mainLightColor;
                    animation: flash 2s infinite;
                    padding: 5px;
                }
                &:hover {
                    transform: scale(1.01);
                    // border: 2px solid $mainOrange;
                    color: $mainOrange;
                    background-color: #2c0926b3;
                    // background-color: $mainDarkColor;
                    box-shadow: black 0 0 15px;
                    
                    i {
                        color: $mainOrange;
                        // text-shadow: #ffffff80 0 0 7px;
                    }
                }
            }


            @keyframes flash {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }
}
